{
    "swagger": "2.0",
    "info": {
        "title": "UBT API",
        "description": "UBT项目接口说明",
        "version": "1.0.0",
        "contact": {
            "name": "Pane",
            "url": "https://github.com/inhandnet/rainbow-api",
            "email": "liwei@inhand.com.cn"
        }
    },
    "host": "t.u2wifi.cn",
    "schemes": [
        "http"
    ],
    "basePath": "/",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "access_token": {
            "type": "apiKey",
            "name": "access_token",
            "in": "query"
        }
    },
    "security": ["access_token"],
    "paths": {
        "/api/wifi/terminals": {
            "get": {
                "summary": "获取终端列表",
                "description": "获取终端列表，每个终端以mac地址标识",
                "tags": [
                    "Wi-Fi"
                ],
                "parameters": [{
                    "name": "cursor",
                    "in": "query",
                    "description": "游标。表示从结果的第几条开始，如果省略默认为0，即从第一条开始。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 0
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "每次请求返回的条目数量。",
                    "required": false,
                    "type": "integer",
                    "default": 10,
                    "enum": [
                        10,
                        30,
                        50,
                        100
                    ]
                }],
                "responses": {
                    "200": {
                        "description": "mac终端列表",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "mac": {
                                                "type": "string",
                                                "description": "点击终端mac地址",
                                                "example": "ab:cd:ef:12:22:23"
                                            },
                                            "createTime": {
                                                "type": "integer",
                                                "example": 1320040030000,
                                                "description": "创建时间"
                                            },
                                            "login": {
                                                "type": "integer",
                                                "example": 1320040030000,
                                                "description": "最近登录时间"
                                            },
                                            "deviceId": {
                                                "type": "string",
                                                "description": "第一次登录所在的设备Id",
                                                "example": "123444123413231423412"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/wifi/stat": {
            "get": {
                "summary": "Wi-Fi统计数据查询",
                "description": "Wi-Fi统计数据查询",
                "tags": ["Statistic"],
                "produces": ["application/json"],
                "parameters": [{
                    "name": "types",
                    "in": "query",
                    "description": "统计类型，以','分隔开的数组，70: 每日新用户数，71: 每日新终端数， 50: 每日总用户数，51：每日总终端数， 307：停留时间超1小时的终端数",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "start_time",
                    "in": "query",
                    "description": "按创建时间查询时的开始时间，单位毫秒，标准UTC时间。",
                    "required": true,
                    "type": "integer"
                }, {
                    "name": "end_time",
                    "in": "query",
                    "description": "按创建时间查询时的结束时间，单位毫秒，标准UTC时间。",
                    "required": true,
                    "type": "integer"
                }, {
                    "name": "object_id",
                    "in": "query",
                    "description": "查询目的车辆的id，为空则查询当前机构所有车辆的统计总合。",
                    "required": false,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "result",
                        "schema": {
                            "$ref": "#/definitions/WiFiStatResult"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/pvuv/resource/clicks": {
            "get": {
                "summary": "获取资源PVUV详细数据",
                "produces": ["application/json"],
                "tags": ["Statistic"],
                "parameters": [{
                    "name": "tid",
                    "type": "string",
                    "in": "query",
                    "description": "资源类型id",
                    "required": true,
                    "example": "home"
                }, {
                    "name": "rid",
                    "type": "string",
                    "in": "query",
                    "description": "资源id",
                    "required": false,
                    "example": "home"
                }, {
                    "name": "start_time",
                    "in": "query",
                    "description": "按创建时间查询时的开始时间，单位毫秒，标准UTC时间。",
                    "required": true,
                    "type": "integer"
                }, {
                    "name": "end_time",
                    "in": "query",
                    "description": "按创建时间查询时的结束时间，单位毫秒，标准UTC时间。",
                    "required": true,
                    "type": "integer"
                }, {
                    "name": "site_id",
                    "in": "query",
                    "description": "查询目的车辆的id，为空则查询当前机构所有车辆的统计总合。",
                    "required": false,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "资源pvuv详细mac地址信息",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "object",
                                    "properties": {
                                        "rId": {
                                            "type": "string",
                                            "description": "资源id",
                                            "example": "qq"
                                        },
                                        "tId": {
                                            "type": "string",
                                            "description": "资源类型id",
                                            "example": "APP"
                                        },
                                        "siteId": {
                                            "type": "string",
                                            "description": "车辆id",
                                            "example": "123444123413231423412"
                                        },
                                        "clicks": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "mac": {
                                                        "type": "string",
                                                        "description": "点击终端mac地址",
                                                        "example": "ab:cd:ef:12:22:23"
                                                    },
                                                    "date": {
                                                        "type": "integer",
                                                        "example": 1320040030000,
                                                        "description": "日期时间戳"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/pvuv/resource/stat": {
            "get": {
                "summary": "获取资源PVUV数据",
                "produces": ["application/json"],
                "tags": ["Statistic"],
                "parameters": [{
                    "name": "tid",
                    "type": "string",
                    "in": "query",
                    "description": "资源类型id",
                    "required": true,
                    "example": "home"
                }, {
                    "name": "rid",
                    "type": "string",
                    "in": "query",
                    "description": "资源id",
                    "required": false,
                    "example": "home"
                }, {
                    "name": "start_time",
                    "in": "query",
                    "description": "按创建时间查询时的开始时间，单位毫秒，标准UTC时间。",
                    "required": true,
                    "type": "integer"
                }, {
                    "name": "end_time",
                    "in": "query",
                    "description": "按创建时间查询时的结束时间，单位毫秒，标准UTC时间。",
                    "required": true,
                    "type": "integer"
                }, {
                    "name": "site_id",
                    "in": "query",
                    "description": "查询目的车辆的id，为空则查询当前机构所有车辆的统计总合。",
                    "required": false,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "token",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "pv": {
                                                "type": "integer",
                                                "example": 12
                                            },
                                            "uv": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "rid": {
                                                "type": "string",
                                                "description": "资源标识",
                                                "example": "123"
                                            },
                                            "tid": {
                                                "type": "string",
                                                "example": "movie",
                                                "description": "栏目标识"
                                            },
                                            "date": {
                                                "type": "integer",
                                                "example": 1320040030,
                                                "description": "日期时间戳"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/wifi/userAgent": {
            "get": {
                "summary": "获取公司收集数据中UserAgent比例数据",
                "tags": ["Statistic"],
                "produces": ["application/json"],
                "parameters": [{
                    "name": "start_time",
                    "type": "string",
                    "in": "query",
                    "description": "查询开始时间, UnixTime",
                    "required": true,
                    "example": "1234"
                }, {
                    "name": "end_time",
                    "in": "query",
                    "description": "查询结束时间, UnixTime",
                    "type": "string",
                    "example": "2234"
                }],
                "responses": {
                    "200": {
                        "description": "result",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "object",
                                    "properties": {
                                        "os": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Chrome",
                                                        "description": "名称"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "example": "123",
                                                        "description": "数量"
                                                    }
                                                }
                                            }
                                        },
                                        "deviceType": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Chrome",
                                                        "description": "名称"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "example": "123",
                                                        "description": "数量"
                                                    }
                                                }
                                            }
                                        },
                                        "browser": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Chrome",
                                                        "description": "名称"
                                                    },
                                                    "count": {
                                                        "type": "integer",
                                                        "example": "123",
                                                        "description": "数量"
                                                    }
                                                }
                                            }
                                        }

                                    }
                                }
                            }
                        },
                        "default": {
                            "description": "Unexpected error",
                            "schema": {
                                "$ref": "#/definitions/Error"
                            }
                        }
                    }
                }
            }
        },
        "/api/pvuv/resources": {
            "get": {
                "summary": "获取指定栏目下的所有页面及概要信息",
                "tags": ["Statistic"],
                "produces": ["application/json"],
                "parameters": [{
                    "name": "tid",
                    "type": "string",
                    "in": "query",
                    "description": "资源类型id",
                    "required": true,
                    "example": "home"
                }, {
                    "name": "sort",
                    "in": "query",
                    "description": "排序字段，'total.pv'或者'total.uv'分别表示按总pv数、总uv数排序",
                    "type": "string"
                }, {
                    "name": "direction",
                    "in": "query",
                    "description": "排序方式，1表示正序，0表示倒序",
                    "enum": [1, 0],
                    "type": "integer"
                }, {
                    "name": "site_id",
                    "in": "query",
                    "description": "查询目的车辆的id，为空则查询当前机构所有车辆的统计总合。",
                    "required": false,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "result",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "rId": {
                                                "type": "string",
                                                "example": "0",
                                                "description": "页面Id，为'0'表示栏目本身"
                                            },
                                            "tId": {
                                                "type": "string",
                                                "example": "main",
                                                "description": "栏目Id"
                                            },
                                            "updateTime": {
                                                "type": "integer",
                                                "example": 1436924464981,
                                                "description": "更新时间戳"
                                            },
                                            "last": {
                                                "type": "object",
                                                "properties": {
                                                    "pv": {
                                                        "type": "integer",
                                                        "example": 12
                                                    },
                                                    "uv": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "date": {
                                                        "type": "integer",
                                                        "example": 1320040030,
                                                        "description": "日期时间戳"
                                                    }
                                                },
                                                "description": "最近日期的PVUV统计"
                                            },
                                            "total": {
                                                "type": "object",
                                                "properties": {
                                                    "pv": {
                                                        "type": "integer",
                                                        "example": 12
                                                    },
                                                    "uv": {
                                                        "type": "integer",
                                                        "example": 1
                                                    }
                                                },
                                                "description": "总PVUV统计"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/pvuv/types": {
            "get": {
                "summary": "获取所有栏目及概要信息",
                "tags": ["Statistic"],
                "produces": ["application/json"],
                "parameters": [{
                    "name": "site_id",
                    "in": "query",
                    "description": "查询目的车辆的id，为空则查询当前机构所有车辆的统计总合。",
                    "required": false,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "result",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "result": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "tId": {
                                                "type": "string",
                                                "example": "main",
                                                "description": "栏目Id"
                                            },
                                            "updateTime": {
                                                "type": "integer",
                                                "example": 1436924464981,
                                                "description": "更新时间戳"
                                            },
                                            "last": {
                                                "type": "object",
                                                "properties": {
                                                    "pv": {
                                                        "type": "integer",
                                                        "example": 12
                                                    },
                                                    "uv": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "date": {
                                                        "type": "integer",
                                                        "example": 1320040030,
                                                        "description": "日期时间戳"
                                                    }
                                                },
                                                "description": "最近日期的PVUV统计"
                                            },
                                            "total": {
                                                "type": "object",
                                                "properties": {
                                                    "pv": {
                                                        "type": "integer",
                                                        "example": 12
                                                    },
                                                    "uv": {
                                                        "type": "integer",
                                                        "example": 1
                                                    }
                                                },
                                                "description": "总PVUV统计"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/oauth2/access_token": {
            "post": {
                "summary": "用户登录",
                "description": "用户使用用户名及密码进行登录，获取调用接口的access_token",
                "tags": [
                    "Login"
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [{
                    "name": "client_id",
                    "in": "formData",
                    "description": "应用标识",
                    "required": true,
                    "type": "string",
                    "default": "000017953450251798098136"
                }, {
                    "name": "client_secret",
                    "in": "formData",
                    "description": "应用密钥",
                    "required": true,
                    "type": "string",
                    "default": "08E9EC6793345759456CB8BAE52615F3"
                }, {
                    "name": "grant_type",
                    "in": "formData",
                    "description": "授权类型,<br/> 首次登录使用'password', token过期之后使用refresh token申请新token时使用'refresh_token'",
                    "type": "string",
                    "enum": [
                        "password",
                        "refresh_token"
                    ]
                }, {
                    "name": "refresh_token",
                    "in": "formData",
                    "description": "刷新令牌，grant_type='refresh_token' 时必填",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "username",
                    "in": "formData",
                    "description": "用户名, grant_type='password' 时必填",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "password",
                    "in": "formData",
                    "description": "密码。 用户名, grant_type='password' 时必填 <br/>注意：密码字段采用特殊规则生成，详见密码类型字段的说明. <br/>如果密码类型为1或2，不校验picId和varificationCode字段，不推荐使用这种方式。 <br/>如果密码类型为3（默认），则要求提供picId和varificationCode字段。",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "language",
                    "in": "formData",
                    "description": "国际化字段, 1: 英文, 2: 中文",
                    "required": false,
                    "type": "string",
                    "format": "int32",
                    "default": 2,
                    "enum": [
                        1,
                        2
                    ]
                }, {
                    "name": "password_type",
                    "in": "formData",
                    "description": "密码类型，默认为3。<br/> 采用不同密码类型，密码的生成规则为：<br/> 1：明文P。<br/> 2：安全密码。明文P经过MD5运算的结果，即MD5(P)；<br/> 3：验证码保护的安全密码。MD5( MD5(P), PID )，其中PID为验证码的标识。",
                    "required": false,
                    "type": "string",
                    "format": "int32",
                    "default": 3,
                    "enum": [
                        1,
                        2,
                        3
                    ]
                }, {
                    "name": "picId",
                    "in": "formData",
                    "description": "验证码图片的标识",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "varificationCode",
                    "in": "formData",
                    "description": "用户输入的验证码",
                    "required": false,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "token",
                        "schema": {
                            "$ref": "#/definitions/Token"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/access_token/org_mgr": {
            "post": {
                "summary": "超级管理员越权令牌",
                "description": "超级管理员越权时，需拿到机构管理员的访问令牌",
                "tags": [
                    "Login"
                ],
                "parameters": [{
                    "name": "oid",
                    "in": "query",
                    "description": "公司标识。",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "token",
                        "schema": {
                            "$ref": "#/definitions/Token"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api2/organizations": {
            "get": {
                "summary": "获取公司列表",
                "description": "获取公司列表",
                "tags": [
                    "Organization"
                ],
                "parameters": [{
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }, {
                    "name": "cursor",
                    "in": "query",
                    "description": "游标。表示从结果的第几条开始，如果省略默认为0，即从第一条开始。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 0
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "每次请求返回的条目数量。",
                    "required": false,
                    "type": "integer",
                    "default": 30,
                    "enum": [
                        30,
                        50,
                        100
                    ]
                }, {
                    "name": "name",
                    "in": "query",
                    "description": "要查找的名称。",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "state",
                    "in": "query",
                    "description": "公司状态。",
                    "required": false,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Organization",
                        "schema": {
                            "$ref": "#/definitions/Orresponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "summary": "创建公司",
                "description": "创建公司",
                "tags": [
                    "Organization"
                ],
                "parameters": [{
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }, {
                    "name": "Organization",
                    "in": "body",
                    "description": "分组信息。(Raw)",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Organization"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Organization",
                        "schema": {
                            "$ref": "#/definitions/ResultOrg"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api2/organizations/{ID}": {
            "delete": {
                "summary": "删除指定的公司",
                "description": "删除指定的公司",
                "tags": [
                    "Organization"
                ],
                "parameters": [{
                    "name": "ID",
                    "in": "path",
                    "description": "公司标识。",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Organization",
                        "schema": {
                            "$ref": "#/definitions/ResultDelorg"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "更新指定公司的信息",
                "description": "更新指定公司的信息",
                "tags": [
                    "Organization"
                ],
                "parameters": [{
                    "name": "ID",
                    "in": "path",
                    "description": "公司标识。",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }, {
                    "name": "Organization",
                    "in": "body",
                    "description": "公司信息。",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/PutOrgReq"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Organization",
                        "schema": {
                            "$ref": "#/definitions/ResultOrg"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "summary": "获取指定公司的信息",
                "description": "获取指定公司的信息",
                "tags": [
                    "Organization"
                ],
                "parameters": [{
                    "name": "ID",
                    "in": "path",
                    "description": "公司标识。",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }],
                "responses": {
                    "200": {
                        "description": "Organization",
                        "schema": {
                            "$ref": "#/definitions/ResultOrg"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api2/users/this/password": {
            "put": {
                "summary": "更改当前用户的密码",
                "description": "更改当前用户的密码",
                "tags": [
                    "Organization"
                ],
                "parameters": [{
                    "name": "oid",
                    "in": "query",
                    "description": "公司标识。",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "Organization",
                    "in": "body",
                    "description": "新旧密码。",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Password"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Organization",
                        "schema": {
                            "$ref": "#/definitions/PasswordR"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/tags": {
            "get": {
                "summary": "获取分组列表",
                "description": "获取分组列表",
                "tags": [
                    "Tags"
                ],
                "parameters": [{
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }, {
                    "name": "cursor",
                    "in": "query",
                    "description": "游标。表示从结果的第几条开始，如果省略默认为0，即从第一条开始。",
                    "required": false,
                    "type": "integer",
                    "default": 0
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "每次请求返回的条目数量。",
                    "required": false,
                    "type": "integer",
                    "default": 30,
                    "enum": [
                        30,
                        50,
                        100
                    ]
                }, {
                    "name": "name",
                    "in": "query",
                    "description": "要查找的名称。",
                    "required": false,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/Tagresponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "summary": "创建分组",
                "description": "创建分组",
                "tags": [
                    "Tags"
                ],
                "parameters": [{
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }, {
                    "name": "tagInfo",
                    "in": "body",
                    "description": "分组信息。(Raw)",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/TagInfo"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/Tags"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/tags/{ID}": {
            "delete": {
                "summary": "删除分组",
                "description": "删除指定的分组",
                "tags": [
                    "Tags"
                ],
                "parameters": [{
                    "name": "ID",
                    "in": "path",
                    "description": "分组标识。",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/ResultDelorg"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "更新分组信息",
                "description": "更新指定的分组信息",
                "tags": [
                    "Tags"
                ],
                "parameters": [{
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }, {
                    "name": "ID",
                    "in": "path",
                    "description": "分组标识。",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "tagInfo",
                    "in": "body",
                    "description": "分组信息。(Raw)",
                    "required": false,
                    "schema": {
                        "$ref": "#/definitions/TagInfo"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/Tags"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "summary": "获取分组信息",
                "description": "获取指定分组的信息",
                "tags": [
                    "Tags"
                ],
                "parameters": [{
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }, {
                    "name": "ID",
                    "in": "path",
                    "description": "分组标识。",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/Tags"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/resource_tags": {
            "get": {
                "summary": "查询资源的分组列表",
                "description": "查找指定资源标识的分组",
                "tags": [
                    "Tags"
                ],
                "parameters": [{
                    "name": "resource_type",
                    "in": "query",
                    "description": "资源类型。1机构2用户3角色4客户端5设备6机型7标签8合同9实时数据10配置11机器14车辆15固件16客户17文档19任务20开发者应用21使用者应用22系统文件，表示查询指定资源类型的分组列表。",
                    "required": true,
                    "type": "integer",
                    "default": 5
                }, {
                    "name": "resource_id",
                    "in": "query",
                    "description": "资源标识。与resource_type二选一。查询指定资源的分组列表。",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "cursor",
                    "in": "query",
                    "description": "游标。表示从结果的第几条开始，如果省略默认为0，即从第一条开始。",
                    "required": false,
                    "type": "integer",
                    "default": 0
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "每次请求返回的条目数量。",
                    "required": false,
                    "type": "integer",
                    "default": 30,
                    "enum": [
                        30,
                        50,
                        100
                    ]
                }],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/Resourceresponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "对资源添加分组",
                "description": "对指定资源打上分组。",
                "tags": [
                    "Tags"
                ],
                "parameters": [{
                    "name": "resource_type",
                    "in": "query",
                    "description": "资源类型。1机构2用户3角色4客户端5设备6机型7标签8合同9实时数据10配置11机器14车辆15固件16客户17文档19任务20开发者应用21使用者应用22系统文件，表示查询指定资源类型的分组列表。",
                    "required": true,
                    "type": "integer",
                    "default": 5,
                    "enum": [
                        1,
                        2,
                        3,
                        4,
                        5,
                        6,
                        7,
                        8,
                        9,
                        10,
                        11,
                        14,
                        15,
                        16,
                        17,
                        19,
                        20,
                        21,
                        22
                    ]
                }, {
                    "name": "resource_id",
                    "in": "query",
                    "description": "资源标识。",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "tag_id",
                    "in": "query",
                    "description": "分组标识。",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/Resourceresponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "summary": "删除资源分组",
                "description": "删除指定资源的一个分组。",
                "tags": [
                    "Tags"
                ],
                "parameters": [{
                    "name": "resource_id",
                    "in": "query",
                    "description": "资源标识。",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "tag_id",
                    "in": "query",
                    "description": "分组标识。",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/Resourceresponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/resources_tags": {
            "put": {
                "summary": "对批量资源添加分组",
                "description": "对指定的批量资源打上指定分组。",
                "tags": [
                    "Tags"
                ],
                "parameters": [{
                    "name": "tag_id",
                    "in": "query",
                    "description": "分组标识。",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "resourceIds",
                    "in": "body",
                    "description": "资源对应ID。",
                    "required": true,
                    "schema": {
                        "type": "array",
                        "$ref": "#/definitions/ResourceIds"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/Resources_multiple_tags_response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "summary": "查询批量资源的分组列表",
                "description": "查询批量资源的分组列表",
                "tags": [
                    "Tags"
                ],
                "parameters": [{
                    "name": "resourceIds",
                    "in": "body",
                    "description": "资源对应ID。",
                    "required": true,
                    "schema": {
                        "type": "array",
                        "$ref": "#/definitions/ResourceIds"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/Resources_multiple_tags_response"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/tags/{ID}/resources": {
            "get": {
                "summary": "查询分组的所有资源",
                "description": "查找指定分组的资源。",
                "tags": [
                    "Tags"
                ],
                "parameters": [{
                    "name": "resource_type",
                    "in": "query",
                    "description": "资源类型。1机构2用户3角色4客户端5设备6机型7标签8合同9实时数据10配置11机器14车辆15固件16客户17文档19任务20开发者应用21使用者应用22系统文件，表示查询指定资源类型的分组列表。",
                    "required": true,
                    "type": "integer",
                    "default": 5,
                    "enum": [
                        1,
                        2,
                        3,
                        4,
                        5,
                        6,
                        7,
                        8,
                        9,
                        10,
                        11,
                        14,
                        15,
                        16,
                        17,
                        19,
                        20,
                        21,
                        22
                    ]
                }, {
                    "name": "ID",
                    "in": "path",
                    "description": "分组标识。",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "cursor",
                    "in": "query",
                    "description": "游标。表示从结果的第几条开始，如果省略默认为0，即从第一条开始。",
                    "required": false,
                    "type": "integer",
                    "default": 0
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "每次请求返回的条目数量。",
                    "required": false,
                    "type": "integer",
                    "default": 30,
                    "enum": [
                        30,
                        50,
                        100
                    ]
                }],
                "responses": {
                    "200": {
                        "description": "Tags",
                        "schema": {
                            "$ref": "#/definitions/ResponseIdResource"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/devices": {
            "get": {
                "summary": "获取设备列表",
                "description": "获取设备列表。",
                "tags": [
                    "Devices"
                ],
                "parameters": [{
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }, {
                    "name": "cursor",
                    "in": "query",
                    "description": "游标。表示从结果的第几条开始，如果省略默认为0，即从第一条开始。",
                    "required": false,
                    "type": "integer",
                    "default": 0
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "每次请求返回的条目数量。",
                    "required": false,
                    "type": "integer",
                    "default": 30,
                    "enum": [
                        30,
                        50,
                        100
                    ]
                }, {
                    "name": "name",
                    "in": "query",
                    "description": "要查找的设备名称。",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "online",
                    "in": "query",
                    "description": "是否在线",
                    "required": false,
                    "type": "integer"
                }, {
                    "name": "site_id",
                    "in": "query",
                    "description": "要查找的车辆标识",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "site_name",
                    "in": "query",
                    "description": "要查找的车辆名称",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "model",
                    "in": "query",
                    "description": "要查找为此机型的设备",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "serial_number",
                    "in": "query",
                    "description": "要查找的设备序列号",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "address",
                    "in": "query",
                    "description": "要查找的地址",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "business_state",
                    "in": "query",
                    "description": "业务状态 0：建设 1：投运 2：故障 3：检修 （查询多个状态时之间用“，”逗号隔开。如“1,0”“1,2”）",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "start_time",
                    "in": "query",
                    "description": "按创建时间查询时的开始时间，单位秒，标准UTC时间。",
                    "required": false,
                    "type": "integer"
                }, {
                    "name": "end_time",
                    "in": "query",
                    "description": "按创建时间查询时的结束时间，单位秒，标准UTC时间。",
                    "required": false,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "Devices",
                        "schema": {
                            "$ref": "#/definitions/Devicesresponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "summary": "创建设备",
                "description": "创建设备",
                "tags": [
                    "Devices"
                ],
                "parameters": [{
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }, {
                    "name": "create_site",
                    "in": "query",
                    "description": "若create_site=1 且$DeviceInfo里面无车辆信息，自动创建车辆，若create_site=0不会自动创建车辆。",
                    "required": true,
                    "type": "integer",
                    "default": 1
                }, {
                    "name": "deviceinfo",
                    "in": "body",
                    "description": "设备信息.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/DevicesA"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Devices",
                        "schema": {
                            "$ref": "#/definitions/DevicesCreateresponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/devices/list": {
            "post": {
                "summary": "获取设备列表",
                "description": "获取设备列表。",
                "tags": [
                    "Devices"
                ],
                "parameters": [{
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }, {
                    "name": "cursor",
                    "in": "query",
                    "description": "游标。表示从结果的第几条开始，如果省略默认为0，即从第一条开始。",
                    "required": false,
                    "type": "integer",
                    "default": 0
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "每次请求返回的条目数量。",
                    "required": false,
                    "type": "integer",
                    "default": 30,
                    "enum": [
                        30,
                        50,
                        100
                    ]
                }, {
                    "name": "name",
                    "in": "query",
                    "description": "要查找的设备名称。",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "online",
                    "in": "query",
                    "description": "是否在线",
                    "required": false,
                    "type": "integer"
                }, {
                    "name": "site_id",
                    "in": "query",
                    "description": "要查找的车辆标识",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "site_name",
                    "in": "query",
                    "description": "要查找的车辆名称",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "model",
                    "in": "query",
                    "description": "要查找为此机型的设备",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "serial_number",
                    "in": "query",
                    "description": "要查找的设备序列号",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "address",
                    "in": "query",
                    "description": "要查找的地址",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "business_state",
                    "in": "query",
                    "description": "业务状态 0：建设 1：投运 2：故障 3：检修 （查询多个状态时之间用“，”逗号隔开。如“1,0”“1,2”）",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "start_time",
                    "in": "query",
                    "description": "按创建时间查询时的开始时间，单位秒，标准UTC时间。",
                    "required": false,
                    "type": "integer"
                }, {
                    "name": "end_time",
                    "in": "query",
                    "description": "按创建时间查询时的结束时间，单位秒，标准UTC时间。",
                    "required": false,
                    "type": "integer"
                }, {
                    "name": "resourceIds",
                    "in": "body",
                    "description": "设备资源ID，可填写多个。",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/ResourceIds"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Devices",
                        "schema": {
                            "$ref": "#/definitions/Devicesresponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/devices/{ID}": {
            "delete": {
                "summary": "删除设备",
                "description": "删除设备。",
                "tags": [
                    "Devices"
                ],
                "parameters": [{
                    "name": "ID",
                    "in": "path",
                    "description": "设备标识。",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "delete_site",
                    "in": "query",
                    "description": "是否同时删除对应车辆",
                    "required": false,
                    "type": "integer",
                    "enum": [
                        1,
                        0
                    ],
                    "default": 0
                }],
                "responses": {
                    "200": {
                        "description": "Devices",
                        "schema": {
                            "$ref": "#/definitions/ResultDelorg"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "更新设备信息",
                "description": "更新设备信息。",
                "tags": [
                    "Devices"
                ],
                "parameters": [{
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }, {
                    "name": "ID",
                    "in": "path",
                    "description": "设备标识。",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "cancel_site",
                    "in": "query",
                    "description": "cancel_site =1 则将此设备移除之前所在车辆",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "deviceinfo",
                    "in": "body",
                    "description": "设备信息.",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/DevicesM"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Devices",
                        "schema": {
                            "$ref": "#/definitions/DevicesCreateresponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "summary": "获取设备信息",
                "description": "获取设备信息。",
                "tags": [
                    "Devices"
                ],
                "parameters": [{
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }, {
                    "name": "ID",
                    "in": "path",
                    "description": "设备标识。",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Devices",
                        "schema": {
                            "$ref": "#/definitions/DevicesCreateresponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/models": {
            "get": {
                "summary": "获取机型列表",
                "description": "获取机型列表",
                "tags": [
                    "Model"
                ],
                "parameters": [{
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }, {
                    "name": "cursor",
                    "in": "query",
                    "description": "游标。表示从结果的第几条开始，如果省略默认为0，即从第一条开始。",
                    "required": false,
                    "type": "integer",
                    "default": 0
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "每次请求返回的条目数量。",
                    "required": false,
                    "type": "integer",
                    "default": 30,
                    "enum": [
                        30,
                        50,
                        100
                    ]
                }, {
                    "name": "name",
                    "in": "query",
                    "description": "要查找的设备名称。",
                    "required": false,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Models",
                        "schema": {
                            "$ref": "#/definitions/ModelsResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/sites": {
            "get": {
                "summary": "获取车辆列表",
                "description": "获取车辆列表。",
                "tags": [
                    "Sites"
                ],
                "parameters": [{
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }, {
                    "name": "cursor",
                    "in": "query",
                    "description": "游标。表示从结果的第几条开始，如果省略默认为0，即从第一条开始。",
                    "required": false,
                    "type": "integer",
                    "default": 0
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "每次请求返回的条目数量。",
                    "required": false,
                    "type": "integer",
                    "default": 30,
                    "enum": [
                        30,
                        50,
                        100
                    ]
                }, {
                    "name": "name",
                    "in": "query",
                    "description": "要查找的名称。",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "address",
                    "in": "query",
                    "description": "要查找的地址。",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "online",
                    "in": "query",
                    "description": "是否在线。",
                    "required": false,
                    "type": "integer"
                }, {
                    "name": "has_gateway",
                    "in": "query",
                    "description": "是否有设备。如果有填写true，没有填写false",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "business_state",
                    "in": "query",
                    "description": "业务状态.",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "start_time",
                    "in": "query",
                    "description": "按创建时间查询时的开始时间，单位秒，标准UTC时间。",
                    "required": false,
                    "type": "integer"
                }, {
                    "name": "end_time",
                    "in": "query",
                    "description": "按创建时间查询时的结束时间，单位秒，标准UTC时间。",
                    "required": false,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "Sites",
                        "schema": {
                            "$ref": "#/definitions/Sitesresponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "summary": "创建车辆",
                "description": "创建车辆。",
                "tags": [
                    "Sites"
                ],
                "parameters": [{
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }, {
                    "name": "siteInfo",
                    "in": "body",
                    "description": "车辆信息",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/SitesAM"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Sites",
                        "schema": {
                            "$ref": "#/definitions/Sitescreateresponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/sites/list": {
            "post": {
                "summary": "获取车辆列表",
                "description": "通过分组获取分组下的列表时使用此API。",
                "tags": [
                    "Sites"
                ],
                "parameters": [{
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }, {
                    "name": "cursor",
                    "in": "query",
                    "description": "游标。表示从结果的第几条开始，如果省略默认为0，即从第一条开始。",
                    "required": false,
                    "type": "integer",
                    "default": 0
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "每次请求返回的条目数量。",
                    "required": false,
                    "type": "integer",
                    "default": 30,
                    "enum": [
                        30,
                        50,
                        100
                    ]
                }, {
                    "name": "name",
                    "in": "query",
                    "description": "要查找的名称。",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "online",
                    "in": "query",
                    "description": "是否在线。",
                    "required": false,
                    "type": "integer"
                }, {
                    "name": "has_gateway",
                    "in": "query",
                    "description": "是否有设备。如果有填写true，没有填写false",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "start_time",
                    "in": "query",
                    "description": "按创建时间查询时的开始时间，单位秒，标准UTC时间。",
                    "required": false,
                    "type": "integer"
                }, {
                    "name": "end_time",
                    "in": "query",
                    "description": "按创建时间查询时的结束时间，单位秒，标准UTC时间。",
                    "required": false,
                    "type": "integer"
                }, {
                    "name": "resourceIds",
                    "in": "body",
                    "description": "车辆资源ID，可填写多个。",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/ResourceIds"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Sites",
                        "schema": {
                            "$ref": "#/definitions/Sitesresponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/sites/{ID}": {
            "delete": {
                "summary": "删除车辆",
                "description": "删除指定的车辆。",
                "tags": [
                    "Sites"
                ],
                "parameters": [{
                    "name": "ID",
                    "in": "path",
                    "description": "车辆标识。",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "delete_all",
                    "in": "query",
                    "description": "为1时删除车辆下所有的设备0为不删除。",
                    "required": false,
                    "type": "integer",
                    "default": 0,
                    "enum": [
                        0,
                        1
                    ]
                }],
                "responses": {
                    "200": {
                        "description": "Sites",
                        "schema": {
                            "$ref": "#/definitions/ResultDelorg"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "summary": "更新指定车辆的信息",
                "description": "更新指定车辆的信息。",
                "tags": [
                    "Sites"
                ],
                "parameters": [{
                    "name": "ID",
                    "in": "path",
                    "description": "车辆标识。",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }, {
                    "name": "siteInfo",
                    "in": "body",
                    "description": "车辆信息",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/SitesAM"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Sites",
                        "schema": {
                            "$ref": "#/definitions/Sitescreateresponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "summary": "获取指定车辆的信息",
                "description": "获取指定车辆的信息。",
                "tags": [
                    "Sites"
                ],
                "parameters": [{
                    "name": "ID",
                    "in": "path",
                    "description": "车辆标识。",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }],
                "responses": {
                    "200": {
                        "description": "Sites",
                        "schema": {
                            "$ref": "#/definitions/Sitescreateresponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/publish_point": {
            "get": {
                "summary": "获取发布点。",
                "description": "获取发布点。",
                "tags": [
                    "Publish"
                ],
                "parameters": [{
                    "name": "status",
                    "in": "query",
                    "description": "当前状态。 1-可用，0-不可用",
                    "required": true,
                    "type": "integer",
                    "default": 1
                }, {
                    "name": "cursor",
                    "in": "query",
                    "description": "游标。表示从结果的第几条开始，如果省略默认为0，即从第一条开始。",
                    "required": false,
                    "type": "integer",
                    "default": 0
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "每次请求返回的条目数量。",
                    "required": false,
                    "type": "integer",
                    "default": 30,
                    "enum": [
                        30,
                        50,
                        100
                    ]
                }, {
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }],
                "responses": {
                    "200": {
                        "description": "Publish",
                        "schema": {
                            "$ref": "#/definitions/PublishPointResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/content_sync/upload": {
            "post": {
                "summary": "上传文件内容。",
                "description": "上传文件内容。",
                "tags": [
                    "Publish"
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/octet-stream"
                ],
                "parameters": [{
                    "name": "file",
                    "in": "formData",
                    "description": "上传文件,上传之前检查压缩文件结构避免上传到设备后无法正常访问，暂时支持zip格式。",
                    "required": true,
                    "type": "file"
                }, {
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }, {
                    "name": "filename",
                    "in": "query",
                    "description": "文件名称（需要加上后缀）。",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "suffix",
                    "in": "query",
                    "description": "文件后缀，默认zip(用于辨别解压方式)，zip文件无需使用该参数",
                    "required": false,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Publish",
                        "schema": {
                            "$ref": "#/definitions/TmpUrl"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/content_sync/publish": {
            "post": {
                "summary": "内容发布。",
                "description": "内容发布。",
                "tags": [
                    "Publish"
                ],
                "parameters": [{
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }, {
                    "name": "version",
                    "in": "query",
                    "description": "内容版本号，并不作为唯一标识。",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "publishPoint",
                    "in": "body",
                    "description": "发布点信息",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Publish"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Publish",
                        "schema": {
                            "$ref": "#/definitions/Publishresult"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "summary": "根据发布点查询发布版本列表。",
                "description": "根据发布点查询发布版本列表。",
                "tags": [
                    "Publish"
                ],
                "parameters": [{
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }, {
                    "name": "publishPointId",
                    "in": "query",
                    "description": "发布点ID",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Publish",
                        "schema": {
                            "$ref": "#/definitions/PublishPointResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/content_sync/back": {
            "post": {
                "summary": "内容回退。",
                "description": "内容回退。",
                "tags": [
                    "Publish"
                ],
                "parameters": [{
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }, {
                    "name": "contentPublish",
                    "in": "body",
                    "description": "内容发布点ID",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/BackPublishinfo"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Publish",
                        "schema": {
                            "$ref": "#/definitions/Contentpublishresult"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/content_sync/log": {
            "get": {
                "summary": "根据发布点查询同步日志。",
                "description": "根据发布点查询同步日志。",
                "tags": [
                    "Publish"
                ],
                "parameters": [{
                    "name": "oid",
                    "in": "query",
                    "description": "机构标识",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "verbose",
                    "in": "query",
                    "description": "信息详细级别。该参数值越大表示要求提供的信息越详细，默认值为100，最小值为1最大值为100。",
                    "required": false,
                    "type": "string",
                    "format": "integer",
                    "default": 100
                }, {
                    "name": "publishPointId",
                    "in": "query",
                    "description": "内容发布点ID",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "publishId",
                    "in": "query",
                    "description": "发布记录标识",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "state",
                    "in": "query",
                    "description": "0等待同步、1同步中、2同步完成",
                    "required": false,
                    "type": "integer"
                }, {
                    "name": "deviceName",
                    "in": "query",
                    "description": "设备名称，模糊查询",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "cursor",
                    "in": "query",
                    "description": "游标。表示从结果的第几条开始，如果省略默认为1，即从第一条开始。",
                    "required": false,
                    "type": "integer",
                    "default": 0
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "每次请求返回的条目数量。",
                    "required": false,
                    "type": "integer",
                    "default": 30,
                    "enum": [
                        30,
                        50,
                        100
                    ]
                }, {
                    "name": "version",
                    "in": "query",
                    "description": "版本号，模糊查询",
                    "required": false,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Publish",
                        "schema": {
                            "$ref": "#/definitions/SyncLogInfoResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/api/content_sync/newJob": {
            "post": {
                "summary": "发布定时任务接口。",
                "description": "发布定时任务接口。",
                "tags": [
                    "Publish"
                ],
                "parameters": [{
[...]
